* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  height: 100%;
  background: linear-gradient(120deg,rgb(6,129,140) 0%,rgb(16,70,115) 100%) no-repeat;
}

a {
  text-decoration: none;
  color: #eee;
  transition: opacity 0.7s;
  -webkit-transition: opacity 0.7s;
  -moz-transition: opacity 0.7s;
  -ms-transition: opacity 0.7s;
  -o-transition: opacity 0.7s;
}

a:hover {
  opacity: 0.6;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
}

form header {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
  font-size: 2rem;
  font-weight: 100;
}

form .write {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  margin-bottom: 3rem;
  padding: 2rem;
  color: #eee;
  background-color: rgba(0,0,0,20%);
  outline: none;
  border: none;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

form .write::placeholder {
  color: #bbb;
}

form .write:hover {
  background-color: rgba(0, 0, 0, 30%);
}

form .write:focus {
  background-color: rgba(0, 0, 0, 40%);
}

form .btn {
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  margin-bottom: 3rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

form .btn:hover {
  background-color: rgba(255, 255, 255, 80%);
  color: rgba(0, 0, 0, 80%);
}

form .remark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.2rem;
  color: #eee;
  margin-bottom: 3rem;
}

form .remark label {
  display: flex;
  align-items: center;
}

form .remark label input {
  display: none;
}

form .remark label input + span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  border: 1px solid #eee;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

form .remark label input + span > span {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eee;
  opacity: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

form .remark label:hover input + span > span {
  opacity: 0.6;
}

form .remark label input:checked + span > span {
  opacity: 1;
}

form .remark label .rememberme {
  margin-left: 0.5rem;
}

form .login {
  background-color: darkcyan;
}

form .login:hover {
  background-color: darkcyan;
  color: #bbb;
}

form .login + .btn {
  background-color:firebrick;
}

form .login + .btn:hover {
  background-color:firebrick;
  color: #bbb;
}

